#fieldlist {
    margin: 0;
    padding: 0;
}

#fieldlist li {
    list-style: none;
    padding-bottom: .7em;
    text-align: left;
}

#fieldlist label {
    display: block;
    padding-bottom: .3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

#fieldlist li.status {
    text-align: center;
}

#fieldlist li .k-widget:not(.k-tooltip),
#fieldlist li .k-textbox {
    margin: 0 5px 5px 0;
}

.confirm {
    padding-top: 1em;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

#fieldlist li input[type="checkbox"] {
    margin: 0 5px 0 0;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 160px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

 #megaStore {
     max-width: 600px;
     margin: 30px auto;
     padding-top: 120px;
     background: url('../content/web/menu/header.jpg') no-repeat center 0;
 }
#menu h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
}
#template img {
    margin: 5px 20px 0 0;
    float: left;
}
#template {
    width: 380px;
}
#template ol {
    float: left;
    margin: 0 0 0 30px;
    padding: 10px 10px 0 10px;
}
#template:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#template .k-button {
    float: left;
    clear: left;
    margin: 5px 0 5px 12px;
}


